body{
    background-image: url("/img/cybersecure.jpg");
}
form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: min-content;
    height: 100%;
    border: 3px solid grey;
    background-color: grey;
    border-radius: 5px;

}
p{
    padding: 5px;
    padding-left: 30px;
    color: white;
}
h1{
    color: white;
}
form input{
    width: 30vw;
    height: 40px;
    margin: 5px;padding-left: 5px;
}
.buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    margin: 20px;
    align-items: center;
    justify-content: center;
}
.buttons a button{
    width: max-content;
    min-width: 200px;
    height: 100px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    font-size: 2em;
    background-color: blue;
    color: white;
    transition: all 0.5s;
}
.buttons a button:hover{
    background-color: black;
}